<div class="container-xl container-overview">
  <div class="banner mb-3">
    <img
      alt="Logo restaurant"
      class="logo"
      height="120"
      src="assets/images/logo.png"
      width="120"
    />
    <h2 class="payoff">Kitchen. Meat house</h2>
  </div>

  <app-nav class="mb-4"></app-nav>

  <div class="container-dishes">
    @if(dishes$ | async; as dishes) { @for(dish of dishes; track dish.id) {
    <app-dish
      [contents]="dish"
      (addItemClick)="handleAddItemClick($event)"
    ></app-dish>
    } }
  </div>
</div>
<router-outlet></router-outlet>
