.container-overview {
  background-color: white;
  padding: 0.625rem;
  border-radius: var(--app-border-radius) var(--app-border-radius) 0 0;
}

.container-dishes {
  padding-inline: 0.625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}
