<div class="container-xl container-overview">
  <app-banner class="mb-3"></app-banner>
  <app-nav class="mb-4"></app-nav>

  <router-outlet></router-outlet>

  <div class="container-dishes">
    @if(dishes$ | async; as dishes) { @for(dish of dishes; track dish.id) {
    <app-dish
      [contents]="dish"
      (addItemClick)="handleAddItemClick($event)"
      (modifyItemClick)="handleModifyItemClick($event)"
    ></app-dish>
    } }
  </div>
</div>

<app-basket-shortcut [quantity]="quantity"></app-basket-shortcut>
