<div class="card card-dish">
  <div class="row g-0">
    @if (contents) {
    <div class="col-md-4">
      <img
        [alt]="'Image ' + contents.name"
        [src]="contents.image"
        class="img-fluid img-dish"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="card-title-container">
          <h3 class="card-title card-title-dish">{{ contents.name }}</h3>
          <button class="btn" type="button">
            <i class="bi bi-info-circle"></i>
          </button>
        </div>
        <p class="card-text">
          {{ contents.description }}
        </p>
        <ul class="dish-actions">
          @if (!quantity) {
          <li>
            <button
              (click)="
                handleButtonClick({
                  quantity: 1,
                  dishId: contents.id,
                  dishPrice: contents.price
                })
              "
              class="btn btn-dark"
              type="button"
            >
              Add to cart
            </button>
          </li>
          } @if (quantity) {
          <li>
            <button
              type="button"
              class="btn btn-decrement"
              (click)="
                handleModifyButtonClick({
                  quantity: quantity - 1,
                  dishId: contents.id,
                  dishPrice: contents.price
                })
              "
            >
              -
            </button>
            <span class="quantity">{{ quantity }}</span>
            <button
              type="button"
              class="btn btn-increment"
              (click)="
                handleModifyButtonClick({
                  quantity: quantity + 1,
                  dishId: contents.id,
                  dishPrice: contents.price
                })
              "
            >
              +
            </button>
          </li>
          }
          <li class="price">€ {{ contents.price }}</li>
        </ul>
      </div>
    </div>
    }
  </div>
</div>
